<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.0.20:3306/christmas?autoReconnect=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">tigrou</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.archive.autodetection">class"</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- configuration pool via c3p0-->
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">100</property><!-- seconds -->
        <property name="hibernate.c3p0.max_size">100</property><!-- Taille maximale du pool -->
        <property name="hibernate.c3p0.min_size">10</property><!-- Taille minimale du pool -->
        <property name="hibernate.c3p0.timeout">0</property><!-- seconds / 0 =jamais-->
        <property name="hibernate.c3p0.max_statements">0</property><!-- Taille du cache de statements de C3P0. 0 = désactive le cache -->

        <mapping class="org.ganaccity.mdl.Session"/>
        <mapping class="org.ganaccity.mdl.User"/>
        <mapping class="org.ganaccity.mdl.Wish"/>
    </session-factory>
</hibernate-configuration>
